html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  /*font-family: "Montserrat", sans-serif;*/
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  border: none;
  background-image: url(background.jpg);

}
/*a{
  font-weight: 2rem;
  font-size: 40px;
  color: white;
}*/
h1 {
  font-size: 70px;
  line-height: 1;
  text-align: center;
  font-weight: bolder;
  color: white;
}

h2 {
  font-size: 45px;
  position: relative;
  font-family: calibri;
  letter-spacing: 2px;
  color: white/*#f2f2f2*/;
  text-align: center;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.card:hover
{
	/*background-color: blue;*/
  /*transform-scale: 1.1;*/
  transition: transform 0.2s ease;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}
.formbody
{
	margin: 10px;
	padding:10px;
	border: 5px solid black;
	border-radius: 20px;
}
